<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>DashBoard</title>
  <title>Animated Background Header</title>
 </head>
<body>
<!-- partial:index.partial.html -->
    <a href="/signup" class="button-text">Signup</a>
    <a href="/login" class="button-text">Login</a>
</body>
</html>