<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>firstwebsite</title>
 </head>
<body>
    <a href="/logout" id="TopbarItem" class="logout">Logout</a>
    <p id="TopbarItem" class="userName">Username : <%= user.username %></p>    
</body>
</html>